<section class="content-container about" id="about">
  <div class="about--news-grubber about-content-container">
    <h1 class="about__heading--primary">
      About Section
    </h1>
    <h2 class="about__heading--sub">What is News Grubber?</h2>
    <p class="about__purpose about__content">
      This app is a non commercial app that scraps <a href="https://www.cnet.com" class="about__purpose--link">CNET's homepage</a> for articles and lets you store the links to those articles and leave notes for articles of your choice.
      This side was built using Handlebars, JavaScript (including ES6 and ES7), CSS Grid Layouts, CSS3, Node.js, Express, MongoDB. Authentication and authorization was done using json web tokens and password was encrypted using bcrypt. The scrapping was done using the Cheerio and Request 
      packages. In the dev environment I utilized Eslint to maintain good coding habits and practices.  
    </p>
  </div>
  <div class="meet-the-dev about-content-container">
    <h2 class="about__heading--sub">
      <span class="about__heading--dev-title">
        Meet the Developer
      </span>
      <span class="about__heading--dev-name">
        Juan John-Charles
      </span>
    </h2>
    <img src="" alt="Developer Image" class="about__img">
    <p class="dev__bio about__content">
      My name is Juan John-Charles, the developer of this website. I absolutely love web development since I got into it.
      If you want to get in touch with me my email address is whoisju1@gmail.com and my number is 609-847-4450. I am currently available and actively looking for work so feel free to reach out to me. 
    </p>
    {{!-- <div class="about__links">
      <a href="" class="about__links--a"><img src="images/github" alt="Github Logo" class="about__link--img"></a>
      <a href="" class="about__links--a"><img src="images/linkedin" alt="LinkedIn Logo" class="about__link--img"></a>
    </div> --}}
  </div>
</section>