<div class="comment-display">
    <h3 class="comment-header">Comments Section</h3>
    {{#if comment}} {{#each comment}}
    <div class="comment">
        <div class="comment-group">
            <div class="comment-body">
                {{body}}
            </div>
            <div class="comment-date">
                {{dateCreated}}
            </div>
        </div>
        <form action="/comment/{{_id}}?_method=DELETE" method="POST" class="dlt-form-btn">
            <button class="delete-btn ui button" type="submit">
                 <i class="fa fa-trash-o" aria-hidden="true"  alt="delete comment"></i>
            </button>
        </form>
    </div>
    {{/each}} {{else}}
    <p class='no-comment'>Post First Comment</p>
    {{/if}}

</div>