<div class="comment-display">
    <h3 class="comment-header">Comments Section</h3>
    {{#if comment}} {{#each comment}}
    <div class="comment">
        <div class="comment-body">
            {{body}}
        </div>
        <form action="/comment/{{_id}}?_method=DELETE" method="POST" class="dlt-form-btn">
            <button class="delete-btn ui button" type="submit">
                Delete Comment <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </form>
        <div class="comment-date">
            {{dateCreated}}
        </div>
    </div>
    {{/each}} {{else}}
    <p>Post First Comment</p>
    {{/if}}

</div>