<header class="header">
  <div class="header__logo">
    News Grubber
  </div>
  <div class="header__auth">
    <button class="header__auth--signin">
      Sign In
    </button>
    <button class="header__auth--signup">
      Sign Up
    </button>
  </div>
</header>