<header class="header">
  <div class="header__logo">
    News Grubber
  </div>
  <nav class="header__nav">
    <a href="" class="nav__link nav__link--saved-articles">Saved Articles</a>
    <a href="" class="nav__link nav__link--about">About</a>
  </nav>
  <div class="header__auth">
    <button class="header__auth--signin">
      Sign In
    </button>
    <button class="header__auth--signup">
      Sign Up
    </button>
  </div>
</header>