<div class="login__backdrop">
  <form class="login__form">
    <label class="login__label login__label--username">Username:</label>
    <input type="text" class="login_username login_username--username" name="username" placeholder="Username">
    <div class="login__label login__label--password">Password:</div>
    <input type="password" class="login__input login_username--password" placeholder="Password" name="password">
    <input type="submit" value="Login" class="login__submit">
  </form>
</div>