<div class="login__backdrop form">
  <form class="login__form">
    <i class="fa fa-close close-form" aria-hidden="true"></i>
    <h1 class="login__form--heading">Login</h1>
    <input type="text" class="login_username login_username--username" name="username" placeholder="Username">
    <input type="password" class="login__input login_username--password" placeholder="Password" name="password">
    <input type="submit" value="Login" class="login__submit">
  </form>
</div>