<div class="signup__backdrop hide-form">
  <form class="signup__form form">
    <i class="fa fa-close close-form" aria-hidden="true"></i>
    <h1 class="signup__form--heading">Sign Up</h1>
    <input type="text" class="signup_username signup_username--username" name="username" placeholder="Username" required autofocus>
    <input type="password" class="signup__input signup_username--password" placeholder="Password" name="password" required>
    <input type="submit" value="Sign Up" class="login__submit">
  </form>
</div>