{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "sourceMaps": "both",
  "plugins": ["@babel/plugin-transform-regenerator"]
}