
    <section class="article-menu">
        {{#each doc}}
        <div class="article-choice">
            <div class="title-wrappper">
                <a href="/article/{{this._id}}">
                    <h2 class="title-menu"> {{this.title}} </h2>
                </a>
                <h3 class="date">{{this.datePublished}} </h3>
            </div>
        </div>
        {{/each}}
    </section>