@import url('https://fonts.googleapis.com/css?family=Audiowide');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* ARTICLES */
body {
  display: grid;
  padding: 5rem;
  grid-template-rows: minmax(6.5rem, 7rem) auto minmax(15rem, 10rem);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh; 
  font-size: 1.6rem;
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #fdefee, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #fdefee, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  border: .05rem solid gray;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  background: linear-gradient(45deg, #e2e5ee, #f5f5f5);
}

.header__logo {
  font-family: 'Audiowide', cursive;
  grid-column: 2/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  text-align: center;
  background: #e74c3c;
  color: #ffffff;
  font-size: 2rem;
}

.header__auth {
  grid-column: 10/span 2;
  display: none;
  grid-auto-flow: column;
  text-transform: uppercase;
  font-weight: 400;
  align-items: center;
  position: relative;
  grid-gap: .3rem;
  text-align: right;
}

.header__auth--img {
  border: .2rem solid #b1afae;
  border-radius: 10rem;
  height: auto;
  width: 2.1em;
  justify-self: right;
  cursor: pointer;
  transition: all .2s ease;
}

.header__auth--img:hover {
  transform: scale(1.2);
  border: .2rem solid #ec5444;
}

.header__auth--username {
  display: contents;
  color: #ec5444;
  font-weight: 800;
  text-align: right;
  text-shadow: .1rem .2rem 1.5rem rgba(0, 0, 0, .2);
  cursor: pointer;
  transform: translateX(2.7rem);
}

.header__auth--signin,
.header__auth--signup
 {
  display: grid;  
  justify-content: space-around;
  align-items: center;
  height: 55%;
  text-transform: uppercase;
  cursor: pointer;
}

.header__nav {
  display: grid;
  grid-column: 5/9;
  grid-gap: 1rem; 
  font-weight: bold;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: .2rem .3rem 1.4rem rgba(0, 0, 0, .3);
  color: #443f3f;
  transition: all .5s ease;
}

.nav__link:hover {
  color: #e74c3c;
}

.active-link {
  position: relative;
  color: #ec5444;
}

@keyframes link-appear {
  0% {
    opacity: 0;
    transform: translateY(-.5rem);
  }
  70% {
    opacity: 5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.active-link::after {
  content: '';
  position: absolute;
  border-bottom: .6rem solid #ec5444;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  clip-path: polygon(50% 70%, 60% 70%, 50% 90%, 40% 70%);
  background-color: #e74c3c;
  animation-name: link-appear;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.nav__link--saved-articles {
  text-align: center;
  grid-column: 2/3;
}

.nav__link--about {
  grid-column: 3/4;
}

.header__dropdown {
  position: absolute;
  display: none;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  top: 90%;
  width: 18rem;
  height: 8rem;
  right: 1rem;
  border: .05rem solid gray;
  text-transform: none;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: .1rem .3rem 1.4rem rgba(0, 0, 0, .3);
}

@keyframes dropdown-appear {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

.dropdown-appear {
  display: grid;
  animation-name: dropdown-appear;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.dropdown-disappear {
  display: none;
}

.header__dropdown-item {
  display: flex;
  cursor: pointer;
  padding: 3%; 
  justify-content: flex-start;
  align-items: center;
}

.header__dropdown-item:hover {
  color: #ffffff;
  background-color: #e74c3c;
}

.content-container {
  border: .05rem solid gray;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column: 1/13;
  background: linear-gradient(45deg, #dae2f8, #f5f5f5);
}

.article-list {
  grid-gap: .5rem;
  padding: 2% 0;
}


.article {
  display: grid;
  border-bottom: .05rem solid gray;
  grid-column: 2/12;
  grid-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr min-content;
  padding: 2% 0;
}

.saved-articles {
  grid-gap: 1rem;
  grid-auto-rows: min-content;
  display: grid;
  border: .05rem solid gray;
  padding: 1rem 0;
}

.saved-article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  grid-column: 2/12;
  border: .05rem solid gray;
  box-shadow: .1rem .2rem 1rem rgba(0, 0, 0, .2);
  padding: 1%;
  position: relative;
}

.saved-articles__action--btn-area {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.saved-article__content {
  grid-column: 2/-1;
}

.saved-article__title {
  color: #312f2f;
  text-decoration: none;
}

.saved-article__title:hover {
  text-decoration: underline;
  text-decoration-color: #EB5757;
}

.saved-article__title--main {
  grid-column: 2/span 4;
  text-transform: uppercase;
  font-weight: 600;
}

.saved-article__author, 
.saved-article__date {
  color: #8a8a8a;
  font-size: 90%;
}

.saved-articles__action {
  grid-column: 1/-1;
  display: grid;
  grid-gap: .8rem;
}

.saved-article--dlt {
  position: absolute;
  top: .6rem;
  right: .6rem;
  visibility: hidden;
  background: transparent;
  border: transparent;
  transition: all .2s ease;
  transform: scale(1.3);
}

.saved-article--dlt:hover {
  color: #EB5757;
  transform: scale(1.3);
}

.saved-article:hover> .saved-article--dlt {
  visibility: visible ;
} 

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

button {
  cursor: pointer;
}

.form-remove {
  cursor: pointer;
  transition: all .5s ease;
  grid-column: -2/-1;
  align-self: end;
  text-align: right;
}

.form-remove:hover {
  color: #EB5757;
  transform: scaleY(1.1);
}


/* TODO: check the hover state and the effects */
.saved-article--add,
.saved-article--add:link,
.saved-article--add:visited {
  background-color: transparent;
  border: transparent;
  font-weight: 500;
  text-shadow: .1rem .2rem 1.4rem rgba(0, 0, 0, .3);
  transition: all .2s ease;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: .3rem .5rem;
  color: gray;
  margin-bottom: 1%; 
  text-decoration: underline;
  transform: translateY(.75rem);
}

a.saved-article--add:hover,
a.saved-article--add:link:hover,
a.saved-article--add:visited:hover {
  transform: translateY(.5rem);
  color: #e74c3c;
  box-shadow: .1rem .3rem .3rem rgba(0, 0, 0, .2);
  text-decoration: none;
}

a.saved-article--add:active,
a.saved-article--add:link:active,
a.saved-article--add:visited:active {
  transform: translateY(.8rem);
  box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
  color: #e74c3c;
}


.disappear {
  animation-name: disappear;
  animation-fill-mode: both;
  animation-duration: .5s;
}

.saved-article__form {
  border-bottom: .05rem solid gray;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: .3rem;
  margin-top: .5%;
  padding-bottom: 1rem;
}

.saved-article-form__input--note {
  grid-column: 1/-1;
  resize: vertical;
  min-height: 6em;
}

.saved-article-form__input--save {
  grid-column: 1/2;
  min-height: 2.5rem;
}

.notes-area {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

.note {
  background-color: whitesmoke;
  justify-content: space-between;
  grid-template-columns: repeat(12, 1fr);
  color: #413e3e;
  border-radius: .5rem;
  display: grid;
  border: .05rem solid lightgray;
  grid-gap: .5rem;
  padding: 2.1rem 2rem .6rem 2rem;
}

.note__content {
  text-align: justify;
  grid-column: 1/-1;
  border-bottom: .05rem solid lightgray;
  padding-bottom: 2.3rem;
}

.note__date {
  align-self: flex-end;
  font-size: 70%;
  text-align: right;
  grid-column: 10/-1;
}


.note:hover> .note-edit {
  visibility: visible;
}

.note:hover> .note-remove {
  visibility: visible;
}

.note-edit,
.note-remove {
  visibility: hidden;
  cursor: pointer;
  color: gray;
  filter: grayscale(1);
  text-align: center;
  justify-self: left;
}

.note-edit {
  color: blue;
}

.note-remove {
  color: #e74c3c;
} 

.note-edit:hover,
.note-remove:hover {
  filter: grayscale(0);
  text-decoration: underline;
}

@keyframes background-color-change {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.saved-article__placeholder {
  grid-column: 2/12;
  margin: 3% 0;
  padding: 2%;
  color: #fffafa;
  color: transparent;
  text-transform: uppercase;
  text-shadow: .1rem .2rem 1.7rem rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(-45deg,#EB5757, #6a89cc, #feca57); 
  background: linear-gradient(-45deg,#EB5757, #6a89cc, #feca57);
  background-size: 400% 400%;
  background-clip: text; 
  -webkit-background-clip: text; 
  font-weight: 800;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: background-color-change 15s ease infinite;
}

.article__img {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.article__detail {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-column: 2/-1;
}

.saved-article__content,
.saved-article__content:link,
.saved-article__content:visited {
  text-decoration: none;
}

/* .article:hover {
  background-color: #e74c3c;
  color: #ffffff;
} */

.article__detail--title {
  display: grid;
  grid-column: 1/-1;
  grid-gap: .2rem;
  color: #312f2f;
  text-decoration: none;
}

.article__detail--title:hover {
  text-decoration: underline;
  text-decoration-color: #e74c3c;
}

.article__title--main {
  text-transform: uppercase;
  font-weight: 600;
}

.article__title--sub {
  font-weight: 100;
  text-shadow: .1rem .3rem 1.4rem rgba(0, 0, 0, .2);
}

.article__author {
  grid-column: 1/2;
  font-size: 80%;
  color: #8a8a8a;
  align-self: center;
}

.article__date {
  grid-row: -2/-1;
  font-size: 80%;
  color: #8a8a8a;
}

.article__btn--save,
.article__btn--save:link,
.article__btn--save:visited
 {
  grid-column: -2/-1;
  cursor: pointer;
  background-color: #e74c3c;
  color: #ffffff;
  border: .1rem solid #e74c3c;
  transition: transform .1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: .2rem 0;
  box-shadow: .1rem .3rem 1.4rem rgba(0, 0, 0, .3);
}

.article__btn--save:hover {
  transform: translateY(-.2rem);
  box-shadow: .1rem .5rem 1.4rem rgba(0, 0, 0, .3);
}

.article__btn--save:active {
  transform: translateY(.1rem);
  background-color: #f4a3a3;
  box-shadow: .1rem .2rem .2rem rgba(0, 0, 0, .5);
}

/* LOGIN FORM */
.backdrop {
  background-color: rgba(0, 0, 0, .4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}

.auth-form {
  display: grid;
  height: 21rem;
  grid-gap: 1rem;
  position: relative;
  z-index: 3;
  background-color: #f3f3f3;
  width: 32rem;
  padding: 3rem;
  max-width: 100vw;
  border: .05rem solid darkgray;
  border-radius: 1rem;
}

.auth-form__label {
  text-shadow: .1rem .2rem 1.5rem rgba(0, 0, 0, .3);
  color: #e74c3c;;
  text-transform: uppercase;
  font-weight: 600;
}

.auth-form__input--submit {
  background: #e74c3c;
  border: transparent;
  color: white;
  box-shadow: .1rem .2rem 1rem rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: all .3s ease;
}

.auth-form__input--submit:hover {
  transform: scale(1.01);
}

/* Form - close icon */
.close-form {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  transition: all .5s ease;
}

.close-form:hover {
  transform: scale(1.2);
}

.show-form {
  display: flex;
}

.hide-form {
  display: none;
}

/* ALERT MODAL */
.alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-close {
  display: none;
}

.alert-open {
  display: flex;
}

.alert__content {
  display: grid;
  padding: .5% 5%;
  background-color: #ffffff;
  height: 5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  border: .2rem solid #e74c3c;
  font-weight: bold;
}

.alert__btn--close {
  position: absolute;
  top: 3%;
  right: 1.5%;
  cursor: pointer;
  transition: all .2s ease;
  color: #e74c3c;
}

.alert__btn--close:hover {
  transform: scale(1.05);
  color: #8d1d1d;
}

.note-edit-form__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.note-edit-form {
  background-color: #f3f3f3;
  width: 50rem;
  padding: 1rem;
  max-width: 100vw;
  border: .05rem solid darkgray;
  border-radius: 1rem;
  
}

.note-edit-form>* {
  margin: .5rem 0;
}

.note-edit-form__textarea {
  width: 100%;
  height: 19rem;
  max-height: 60vh;
  justify-self: center;
  resize: vertical;
}

.note-edit-form__label {
  text-transform: uppercase;
  color: #e74c3c;
  text-shadow: .1rem .3rem 1.4rem rgba(0, 0, 0, .3);
  letter-spacing: .4rem;
  font-weight: 700;
  margin: 2rem 0;
}

.note-edit-form__submit {
  cursor: pointer;
  background-color: #e74c3c;
  color: #ffffff;
  border: .1rem solid #e74c3c;
  padding: .3rem;
  margin-right: .5rem;
}

.note-edit-cancel {
  background: transparent;
  border: transparent;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes notification-appear {
  from {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes notification-disappear {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10rem);
  }
}

.notification {
  position: fixed;
  top: 0;
  right: 20%;
  font-weight: bold;
  color: white;
  padding: .2rem 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification--success {
  background-color: darkcyan;
}

.notification--failure {
  background-color: tomato;
}

.notification__appear {
  animation-name: notification-appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.notification__disappear {
  animation-name: notification-disappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.about {
  grid-gap: 2rem;
  padding: 2rem 0;
  grid-auto-rows: min-content;
}

.about-content-container {
  grid-column: 2/12;
}

.about__heading--primary {
  font-weight: bold;
  font-size: 170%;
  color: #e74c3c;
  margin-bottom: 2%;
}

.about__heading--sub {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-flow: column;
}

.about__heading--dev-title {
  font-size: 120%;
}

.about__heading--dev-name {
  font-size: 90%;
}

.about__content {
  /* text-align: justify; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: thin;
}

@media screen and (max-width: 1100px) {
  body {
    padding: 2rem;
    grid-template-rows: minmax(3.5rem, 5rem) auto minmax(15rem, 10rem);
  }

  .header__logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 907px) {
  body {
    font-size: 1.3rem;
  }

  .header__dropdown {
    width: 13rem;
    height: 7rem;
  }
}

@media screen and (max-width: 550px) {
 .header__auth--username {
   display: none;
  }

 .header__auth {
   grid-column: 10/13;
   display: flex;
   font-size: 1.09rem;
   justify-content: center;
 }

 .header__auth > button {
   font-size: .9rem;
 }
 
}

@media screen and (max-width: 817px) {
  body {
    padding: 0;
  }
  
  .header__auth--signin,
  .header__auth--signup {
    font-size: 1.1rem;
  }

  .article {
    grid-column: 1/-1;
  }

  .article__img {
    float: left;
    width: 9rem;
  }

  .article__btn--save {
    grid-column: 8/span 1;
  }
}

@media screen and (max-width: 700px) {
  .header__auth--signin,
  .header__auth--signup {
    grid-column: span 2;
  }
}

@media screen and (max-width: 550px) {
  .article__img {
    width: 8rem;
  }

  .article__btn--save {
    grid-column-end: span 2;  
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    font-size: 1.2rem
  }
}

@media screen and (max-width: 420px) {
  .header__nav {
    grid-column: 4/9;
    grid-template-columns: repeat(3, 33.333%);
  }

  .header__logo {
    grid-column: 1/span 2;
    font-size: 1.2rem;
    transform: translateX(.4rem);
  }

  .header__auth--logged-out {
    grid-column: 9/ span 4;
  }
}

@media screen and (max-width: 380px) {
  .header__logo {
    font-size: 1rem;
    width: 150%;
  }

  .header__nav {
    font-size: 1rem;
  }
}