@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* ARTICLES */
body {
  display: grid;
  padding: 3%;
  grid-template-rows: minmax(60px, 15%) auto minmax(100px, 15%);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
}

.header {
  border: .5px solid gray;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.header__logo {
  font-family: 'Audiowide', cursive;
  grid-column: 2/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  text-align: center;
  background: #e74c3c;
  color: #ffffff;
  font-size: 2rem;
}

.header__auth {
  grid-column: 10/span 2;
  display: grid;
  grid-auto-flow: column;
  text-transform: uppercase;
  font-weight: 400;
  align-items: center;
  grid-gap: 3px;
}

.header__auth--signin,
.header__auth--signup
 {
  display: grid;  
  justify-content: space-around;
  align-items: center;
  height: 55%;
  text-transform: uppercase;
  cursor: pointer;
}

.header__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 4/10;
  grid-gap: 10px; 
  font-weight: bold;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 3px 14px rgba(0, 0, 0, .3);
  color: #443f3f;
}

.nav__link:hover {
  color: #e74c3c;
}

.active-link {
  border-bottom: 3px solid #e74c3c;
}

.nav__link--saved-articles {
  grid-column: 2/3;
}

.nav__link--about {
  grid-column: 3/4;
}


.content-container {
  border: .5px solid gray;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column: 1/13;
}

.article-list {
  grid-gap: 5px;
  padding: 2% 0;
}


.article {
  display: grid;
  border-top: .5px solid gray;
  border-bottom: .5px solid gray;
  grid-column: 2/12;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr min-content;
  padding: 2% 0;
}


.saved-articles {
  grid-gap: 10px;
  padding: 1% 0;
  display: grid;
}

.saved-article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 10px;
  grid-column: 2/12;
  border: .5px solid gray;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
  padding: 1%;
  position: relative;
}

.saved-articles__action--btn-area {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.saved-article__content {
  grid-column: 2/-1;
}

.saved-article__title {
  color: #312f2f;
  text-decoration: none;
}

.saved-article__title:hover {
  text-decoration: underline;
  text-decoration-color: #EB5757;
}

.saved-article__title--main {
  grid-column: 2/span 4;
  text-transform: uppercase;
  font-weight: 600;
}

.saved-article__author, 
.saved-article__date {
  color: #8a8a8a;
  font-size: 90%;
}

.saved-articles__action {
  border-top: .5px double gray;
  grid-column: 1/-1;
  display: grid;
  grid-gap: 8px;
}

.saved-article--dlt {
  position: absolute;
  top: 6px;
  right: 6px;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

button {
  cursor: pointer;
}

.form-remove {
  cursor: pointer;
  transition: all .5s ease;
  grid-column: -2/-1;
  align-self: end;
  text-align: right;
}

.form-remove:hover {
  color: #EB5757;
  transform: scaleY(1.1);
}


/* TODO: check the hover state and the effects */
.saved-article--add,
.saved-article--add:link,
.saved-article--add:visited {
  background-color: transparent;
  border: transparent;
  font-weight: 500;
  text-shadow: 1px 2px 14px rgba(0, 0, 0, .3);
  transition: all .2s ease;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 3px 5px;
  color: gray;
  margin-bottom: 1%; 
  text-decoration: underline;
  transform: translateY(7.5px);
}

a.saved-article--add:hover,
a.saved-article--add:link:hover,
a.saved-article--add:visited:hover {
  transform: translateY(5px);
  color: #e74c3c;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
  text-decoration: none;
}

a.saved-article--add:active,
a.saved-article--add:link:active,
a.saved-article--add:visited:active {
  transform: translateY(8px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  color: #e74c3c;
}


.disappear {
  animation-name: disappear;
  animation-fill-mode: both;
  animation-duration: .5s;
}

.saved-article__form {
  border-bottom: .5px solid gray;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-top: .5%;
  padding-bottom: 10px;
}

.saved-article-form__input--note {
  grid-column: 1/-1;
  resize: vertical;
  min-height: 6em;
}

.saved-article-form__input--save {
  grid-column: 1/2;
  min-height: 25px;
}

.notes-area {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.note {
  background-color: whitesmoke;
  justify-content: space-between;
  border-radius: 28px;
  display: flex;
  padding: 1.5%;
  text-align: justify;
}

.note__date {
  visibility: hidden;
  align-self: flex-end;
  font-size: 70%;
}

.note:hover> .note__date {
  visibility: visible;
}

@keyframes background-color-change {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.saved-article__placeholder {
  grid-column: 2/12;
  margin: 3% 0;
  padding: 2%;
  color: #fffafa;
  color: transparent;
  text-transform: uppercase;
  text-shadow: 1px 2px 17px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(-45deg,#EB5757, #6a89cc, #feca57); 
  background: linear-gradient(-45deg,#EB5757, #6a89cc, #feca57);
  background-size: 400% 400%;
  background-clip: text; 
  -webkit-background-clip: text; 
  font-weight: 800;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: background-color-change 15s ease infinite;
}

.article__img {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.article__detail {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-column: 2/-1;
}

.saved-article__content,
.saved-article__content:link,
.saved-article__content:visited {
  text-decoration: none;
}

/* .article:hover {
  background-color: #e74c3c;
  color: #ffffff;
} */

.article__detail--title {
  display: grid;
  grid-column: 1/-1;
  grid-gap: 2px;
  color: #312f2f;
  text-decoration: none;
}

.article__detail--title:hover {
  text-decoration: underline;
  text-decoration-color: #e74c3c;
}

.article__title--main {
  text-transform: uppercase;
  font-weight: 600;
}

.article__title--sub {
  font-weight: 100;
  text-shadow: 1px 3px 14px rgba(0, 0, 0, .2);
}

.article__author {
  grid-column: 1/2;
  font-size: 80%;
  color: #8a8a8a;
  align-self: center;
}

.article__date {
  grid-row: -2/-1;
  font-size: 80%;
  color: #8a8a8a;
}

.article__btn--save {
  grid-column: 2/-1;
  cursor: pointer;
}

.saved-articles {
  border: .5px solid gray;
}

.article__btn--save {
  justify-self: end;
  width: 10%;
}

/* LOGIN FORM */
.login__backdrop,
.signup__backdrop {
  background-color: rgba(0, 0, 0, .4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  background: white;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 200px;
  min-width: 30%;
  grid-gap: 10px;
  position: relative;
}

/* Form - close icon */
.close-form {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  transition: all .5s ease;
}

.close-form:hover {
  transform: scale(1.2);
}

.show-form {
  display: flex;
}

.hide-form {
  display: none;
}

/* ALERT MODAL */
.alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.alert-close {
  display: none;
}

.alert-open {
  display: flex;
}

.alert__content {
  display: grid;
  padding: .5% 5%;
  background-color: #ffffff;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  border: 2px solid #e74c3c;
  font-weight: bold;
}

.alert__btn--close {
  position: absolute;
  top: 3%;
  right: 1.5%;
  cursor: pointer;
  transition: all .2s ease;
  color: #e74c3c;
}

.alert__btn--close:hover {
  transform: scale(1.05);
  color: #8d1d1d;
}